<section id="hero">

  <blockquote>
    <p><%= randomQuote.quote %></p>
    <cite>-- <%= randomQuote.movie + " (" + randomQuote.year + ")" %></cite>
  </blockquote>

</section>

<section id="todo">

  <h2><%= today %></h2>

  <section class="box">
    <ul>
      <% listsName.forEach( e => { %>
      <li>    
        <a href="#"><%= e.name %></a>
        <input type="hidden" name="deleteList" value="<%= e._id %>">
        <button type="submit"><i class="fas fa-trash-alt"></i></button>
      </li>
      <% }); %>
    </ul>
    <form action="/" method="GET">
      <input type="text" name="list" value="" placeholder="Create New List"/>
      <button type="submit"><i class="fas fa-plus"></i></button>
    </form>
  </section>
</section>
